{% extends 'site_spbfkk/base.html' %}

{% block content %}

<h2>{{title}}</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type = "submit">Добавить спортивный зал</button>
</form>
{% endblock content %}