{% extends 'site_spbfkk/base.html' %}

{% block content %}
<h1>{{event}}</h1>
<h1>{{event_document.name_event}}</h1>
<h2>{{title}}</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type = "submit">Сохранить</button>
</form>
{% endblock content %}
