{% extends 'site_spbfkk/base.html' %}

{% block content %}
<h1>{{sportsmen}}</h1>
<h1>{{sportsmen_document.sportsmen}}</h1>
<h2>{{title}}</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type = "submit">Сохранить</button>
</form>
{% endblock content %}
