{% extends 'site_spbfkk/base.html' %}

{% block content %}
<h1>{{coach}}</h1>
<h2>{{title}}</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type = "submit">Сохранить</button>
</form>
{% endblock content %}
