{% extends 'site_spbfkk/base.html' %}

{% block content %}
<h1>{{event}}</h1>
<h2>{{title}}</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type = "submit">Добавить</button>
</form>


{% for r in result %}
<ul>
{{r.sportsmen}} | {{r.sportsmen.sportsmensdata.first.get_weight_category_male_display}} | {{r.get_result_display}}
<form action="{% url 'spbfkk:delete_event_result' pk=r.pk %}">
    <button type="submit">Удалить результат</button>
    </form>
</ul>
    {% endfor %}

{% endblock content %}