<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {{title}} </title>
<style>
body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    width: 230px;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}

.main {
    margin-left: 240px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.name {float:center}
</style>
</head>
<body>
{% if request.user.is_authenticated %}
<div class="name" <h1>ИАС "СПБФКК"</h1></div>
<div>{{user.username}}|<a href="{% url 'logout' %}">Выйти</a></div>
{% block mainmenu %}
<div class="sidenav">
  <a href="{% url 'spbfkk:sports_hall' %}">Спортивные залы</a>
  <a href="{% url 'spbfkk:coaches' %}">Тренерский состав</a>
  <a href="{% url 'spbfkk:home' %}">Спортсмены</a>
  <a href="{% url 'spbfkk:all_events' %}">Мероприятия</a>
  <a href="{% url 'spbfkk:show_rating_sportsmen' %}">Рейтинг спортсменов</a>
    <a href="{% url 'spbfkk:show_rating_coaches' %}">Рейтинг тренеров</a>

</div>

{% endblock mainmenu %}

<div class="main">
{% block content %}
{% endblock content %}
    {% else %}
        <p>Вы не авторизованы</p>
        <a href="{% url 'login' %}">Войти</a>
{% endif %}
</div>
</body>
</html>