{% extends 'site_spbfkk/base.html' %}

{% block content %}
<h1> Тренерский состав СПбФКК:</h1>
<ul>
    {% for c in object_list %}
    <li>
     <form action="show_coach">
        <h2> <a href="{{ c.get_absolut_url }}">{{c}}</a></h2>
     </form>
    </li>
    {% endfor %}
</ul>
{% endblock content %}
