{% extends 'site_spbfkk/base.html' %}

{% block content %}
<h1> Список мероприятий СПбФКК:</h1>
<form action="add_event">
    <button type="submit">Добавить мероприятие</button>
</form>
<ul>
    {% for e in events  %}
    <li>
        <form action="show_event">
        <h2> <a href="{{ e.get_absolut_url }}">{{e}} {{e.date_start_events}}</a></h2>
        </form>
    </li>
    {% endfor %}
</ul>

{% endblock content %}
