
{% extends 'site_spbfkk/base.html' %}

{% block content %}
<h1> Список спортсменов СПбФКК:</h1>
<form action="addsportsmen">
    <button type="submit">Добавить спортсмена</button>
</form>

<form action="export_excel">
    <button type="submit">Экспорт в Excel</button>
</form>
<ul>
    {% for s in sportsmen %}
    <li>
        <form action="showsportsmen">
        <h2> <a href="{{ s.get_absolut_url }}">{{s}}</a></h2>
        </form>
    </li>
    {% endfor %}
</ul>


{% endblock content %}
