{% extends 'site_spbfkk/base.html' %}

{% block content %}
{% if not object_list %}
<h1>{{coach}}</h1>
<form action="{% url 'spbfkk:add_coach_data' pk=coach.pk %}">
    <button type="submit">Добавить данные</button>
</form>
{% endif %}


{% for c in object_list %}

<h1>{{c.coach}}</h1>
<h2>Данные тренера</h2>
<form action="{% url 'spbfkk:edit_coach_data' pk=c.pk %}">
    <button type="submit">Редактировать данные</button>
    </form>

<form action="{% url 'spbfkk:trainers_documents' pk=coach.pk %}">
    <button type="submit">Добавить документ</button>
    </form>
<p>Спортивный клуб: {{c.coach.club}}</p>
<p>Дата рождения: {{c.year_of_birth}}</p>
<p>Образование: {{c.education}}</p>
<p>Звания: {{c.coaching_title}}</p>
<p>Спортивный разряд: {{c.get_sports_category_display}}</p>
<p>Градация степени: {{c.get_degree_level_display}} {{c.get_degree_display}}</p>
<p>Судейская категория: {{c.get_judging_category_display}}</p>
<p>Спортивные результаты: {{c.sports_results}}</p>
<p>Рейтинг тренера: {{c.coach_rating}}</p>
<h2>Контактные данные</h2>
<p>Номер телефона: {{c.phone_number}}</p>
<p>E-mail: {{c.e_mail}}</p>



{% endfor %}

{% if documents %}
<h2>Документы</h2>
{% for d in documents %}
<p>Имя документа: {{d.name_document}}</p>
<p>Дата выдачи: {{d.date_issue}}</p>
<p>Действителен до: {{d.validity_period}}</p>
<p>Номер документа: {{d.number_document}}</p>
<p>Кем выдан: {{d.issued_by_whom}}</p>

    {% if d.scanned_copy %}
<p>Скан-копия: <a href="{{ d.scanned_copy.url }}" download>{{d.scanned_copy}}</a></p>
    {% endif %}

<p>Дата добавления документа: {{d.date_added}}</p>

<form action="{% url 'spbfkk:delete_trainers_documents' pk=d.pk %}">
    <button type="submit">Удалить документ</button>
    </form>

<form action="{% url 'spbfkk:edit_coach_document' pk=d.pk %}">
    <button type="submit">Редактировать документ</button>
    </form>
<p>------------------</p>
{% endfor %}
{% endif %}

{% endblock content %}
