{% extends 'site_spbfkk/base.html' %}

{% block content %}
<h1>Рейтинг спортсменов </h1>

{% for c in sprt_data %}
<li>
{{c}} | {{c.get_weight_category_male_display}} | {{c.get_weight_category_female_display}}  {{c.sports_rating}}
</li>
{% endfor %}

{% endblock content %}
