{% extends 'site_spbfkk/base.html' %}

{% block content %}
{% if not object_list %}
<h1>{{sportsmen}}</h1>
<form action="{% url 'spbfkk:add_sportsmen_data' pk=sportsmen.pk %}">
    <button type="submit">Добавить данные</button>
</form>
{% endif %}

{% for c in object_list %}

<h1>{{c}}</h1>
<h2>Данные спортсмена</h2>
<form action="{% url 'spbfkk:edit_sportsmen_data' pk=c.pk %}">
    <button type="submit">Редактировать данные</button>
    </form>

<form action="{% url 'spbfkk:sportsmen_documents' pk=sportsmen.pk %}">
    <button type="submit">Добавить документ</button>
    </form>

<form action="{% url 'spbfkk:delete_sportsmen' pk=sportsmen.pk %}">
    <button type="submit">Удалить спортсмена</button>
    </form>
<p>Спортивный клуб: {{c.sportsmen.club}}</p>
<p>Тренер: {{c.sportsmen.coach}}</p>
<p>Дата рождения: {{c.year_of_birth}}</p>
<p>Звания: {{c.sportsmen_title}}</p>
<p>Спортивный разряд: {{c.get_sports_category_display}}</p>
<p>Градация степени: {{c.get_degree_level_display}} {{c.get_degree_display}} </p>
{% if c.weight_category_male %}
<p>Весовая категория: {{c.get_weight_category_male_display}}</p>
{% endif %}
{% if c.weight_category_female %}
<p>Весовая категория: {{c.get_weight_category_female_display}}</p>
{% endif %}
<p>Судейская категория: {{c.get_judging_category_display}}</p>
<p>Спортивный рейтинг: {{c.sports_rating}}</p>
<p>Спортивные результаты: {{c.sports_results}}</p>
<p>Годовой взнос: {{c.annual_fee}} Дата взноса: {{c.annual_fee_date}}</p>
<h2>Контактные данные</h2>
<p>Номер телефона: {{c.phone_number}}</p>
<p>E-mail: {{c.e_mail}}</p>
<p>ФИО родителя: {{c.flp_parents_1}}</p>
<p>Номер телефона родителя: {{c.phone_number_par_1}}</p>
{% if c.flp_parents_2 %}
<p>ФИО родителя: {{c.flp_parents_2}}</p>
{% endif %}
{% if c.phone_number_par_2 %}
<p>Номер телефона родителя: {{c.phone_number_par_2}}</p>
{% endif %}
{% endfor %}

{% if documents %}
<h2>Документы</h2>
{% for d in documents %}
<p>Имя документа: {{d.name_document}}</p>
<p>Дата выдачи: {{d.date_issue}}</p>
<p>Действителен до: {{d.validity_period}}</p>
<p>Номер документа: {{d.number_document}}</p>
<p>Кем выдан: {{d.issued_by_whom}}</p>

    {% if d.scanned_copy %}
<p>Скан-копия: <a href="{{ d.scanned_copy.url }}" download>{{d.scanned_copy}}</a></p>
    {% endif %}

<p>Дата добавления документа: {{d.date_added}}</p>

<form action="{% url 'spbfkk:delete_sportsmen_documents' pk=d.pk %}">
    <button type="submit">Удалить документ</button>
    </form>

<form action="{% url 'spbfkk:edit_sportsmen_document' pk=d.pk %}">
    <button type="submit">Редактировать документ</button>
    </form>
<p>________________________</p>
{% endfor %}
{% endif %}
{% endblock content %}
