{% extends 'site_spbfkk/base.html' %}

{% block content %}


{% for e in object_list %}

<h1>{{e}}</h1>
<h2>Данные мероприятия</h2>

<form action="{% url 'spbfkk:edit_event' pk=e.pk %}">
    <button type="submit">Редактировать данные</button>
    </form>

<form action="{% url 'spbfkk:add_event_documents' pk=event.pk %}">
    <button type="submit">Добавить документ</button>
    </form>

<form action="{% url 'spbfkk:add_event_applications' pk=event.pk %}">
    <button type="submit">Добавить заявку</button>
    </form>

{% if e.type_events == 'CO' %}
<form action="{% url 'spbfkk:add_event_results' pk=event.pk %}">
    <button type="submit">Добавить результаты</button>
    </form>
{% endif %}

<p>Дата начала мероприятия: {{e.date_start_events}}</p>
<p>Дата окончания мероприятия: {{e.date_end_events}}</p>
<p>Дата окончания подачи заявок: {{e.date_end_applications}}</p>
<p>Ограничение по Кю: {{e.limit_ku}}</p>
<p>Ограничение по возрасту: {{e.limit_age}}</p>
<p>Тип мероприятия: {{e.get_type_events_display}}</p>
<p>Статус мероприятия: {{e.get_status_events_display}}</p>

{% endfor %}

{% if documents %}
<h2>Документы</h2>
{% for d in documents %}
<p>Имя документа: {{d.name_doc}}</p>
<p>Дата документа: {{d.date_doc}}</p>
<p>Номер документа: {{d.series_doc}}</p>

    {% if d.scan_doc %}
<p>Скан-копия: <a href="{{ d.scan_doc.url }}" download>{{d.scan_doc}}</a></p>
    {% endif %}


<form action="{% url 'spbfkk:del_event_documents' pk=d.pk %}">
    <button type="submit">Удалить документ</button>
    </form>

<form action="{% url 'spbfkk:edit_event_document' pk=d.pk %}">
    <button type="submit">Редактировать документ</button>
    </form>
<p>------------------</p>
{% endfor %}
{% endif %}

{% endblock content %}
