{% extends 'site_spbfkk/base.html' %}

{% block content %}
{% if not object_list %}
<h1>Добавление расписания</h1>
<form action="{% url 'spbfkk:add_schedule' pk=sportshall.pk %}">
    <button type="submit">Добавить расписание</button>
</form>
{% endif %}


{% for c in object_list %}

<h2>Расписание зала:</h2>
<form action="{% url 'spbfkk:add_schedule' pk=sportshall.pk %}">
    <button type="submit">Добавить расписание</button>
</form>
<p>{{c.get_day_week_display}} - время: {{c.training_time}}, категория занимающихся: {{c.category_students}}</p>

{% endfor %}


{% endblock content %}