{% extends 'site_spbfkk/base.html' %}

{% block content %}
<h1> Спортивные залы СПбФКК:</h1>

<form action="{% url 'spbfkk:add_sports_hall' %}">
    <button type="submit">Добавить спортивный зал</button>
</form>

<ul>
    {% for c in object_list %}

        <p> <li>Адрес: {{c.region}}, {{c.locality}}, {{c.district}}, {{c.street}} {{c.house_number}}</li>
          <li>Клуб: {{c.sports_club}}</li>
          <li>Тренер: {{c.coach}}</li>
         <form action="{% url 'spbfkk:show_sports_hall' pk=c.pk %}">
    <button type="submit">Посмотреть расписание</button>
    </form>
        </p>

    {% endfor %}
</ul>
{% endblock content %}
